<a href="https://colab.research.google.com/github/CoriRay/Python-para-economistas/blob/master/Clase_2_Numpy_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Algebra matricial básica** 

Tocada en matemática para economistas

![texto alternativo]()

In [0]:
import pandas as pd
import numpy as np

In [0]:
#Confeccion de una matriz

matriz=np.array([[3,4,-1],[2,0,1],[1,3,-2]])
matriz

array([[ 3,  4, -1],
       [ 2,  0,  1],
       [ 1,  3, -2]])

In [0]:
#Inversa de una matriz

inversa=np.linalg.inv(matriz)
inversa

array([[-0.6,  1. ,  0.8],
       [ 1. , -1. , -1. ],
       [ 1.2, -1. , -1.6]])

In [0]:
#Transpuesta de una matriz

transpuesta=np.transpose(matriz)
transpuesta

array([[ 3,  2,  1],
       [ 4,  0,  3],
       [-1,  1, -2]])

In [0]:
#Probando la inversa de la matriz

identica=np.dot(matriz,inversa)
identica

array([[ 1.00000000e+00, -3.33066907e-16, -2.22044605e-16],
       [ 2.22044605e-16,  1.00000000e+00, -4.44089210e-16],
       [ 0.00000000e+00, -2.22044605e-16,  1.00000000e+00]])

In [0]:
a=np.array([[1,2,3],[4,5,6]])
b=a

ERROR! Session/line number was not unique in database. History logging moved to new session 65

In [0]:
#Las demás operaciones como suma y resta de matrices no se alteran 
c=a+b
c

array([[ 2,  4,  6],
       [ 8, 10, 12]])

In [0]:
np.log(100)

4.605170185988092

**Carga de datos**
  
  -Desde archivos excel, csv, html, etc. La libreria Pandas es la libreria principal encargada del manejo de data.
  ![texto alternativo](https://1.bp.blogspot.com/-o8QPG14kN8k/WMBf3Wn71hI/AAAAAAAAGsY/tf1_e7lf8zsQkKQkrhR6TDIKAbpp8TpmgCLcB/s400/pandas.png)

In [0]:
#Previamente ya hemos importado pandas --> import pandas as pd
#Cargar un archivo excel:
excel=pd.read_excel('taller1.xlsx')
excel

    Unnamed: 0       pbi      agro  ...        con       com  aleatorio
0        Ene04  3.674966  3.270309  ...  10.993667  0.397278         10
1        Feb04  4.245959  3.452198  ...   2.716271  2.699564          7
2        Mar04  5.774257  2.545452  ...   9.645661  4.360081         12
3        Abr04  4.247995 -3.179112  ...   8.820288  3.814925        -11
4        May04  3.950757 -1.748244  ...   4.440325  5.025204         -3
..         ...       ...       ...  ...        ...       ...        ...
183      Abr19  0.186118  4.572736  ...   9.260000  2.976007         -6
184      May19  0.710580  2.027902  ...  -0.150000  2.337415        -14
185      Jun19  2.620719 -0.005398  ...  13.630000  2.729538         14
186      Jul19  3.280000 -1.081548  ...   0.760000  3.190000        -13
187      Ago19  3.390000  2.132288  ...   4.530000  3.140000        -10

[188 rows x 10 columns]

In [0]:
csv=pd.read_csv('wine.csv')
csv

     Wine  Alcohol  Malic.acid   Ash  ...  Color.int   Hue    OD  Proline
0       1    14.23        1.71  2.43  ...       5.64  1.04  3.92     1065
1       1    13.20        1.78  2.14  ...       4.38  1.05  3.40     1050
2       1    13.16        2.36  2.67  ...       5.68  1.03  3.17     1185
3       1    14.37        1.95  2.50  ...       7.80  0.86  3.45     1480
4       1    13.24        2.59  2.87  ...       4.32  1.04  2.93      735
..    ...      ...         ...   ...  ...        ...   ...   ...      ...
173     3    13.71        5.65  2.45  ...       7.70  0.64  1.74      740
174     3    13.40        3.91  2.48  ...       7.30  0.70  1.56      750
175     3    13.27        4.28  2.26  ...      10.20  0.59  1.56      835
176     3    13.17        2.59  2.37  ...       9.30  0.60  1.62      840
177     3    14.13        4.10  2.74  ...       9.20  0.61  1.60      560

[178 rows x 14 columns]

In [0]:
copa=pd.read_html('https://gist.github.com/tijptjik/9408623#file-wine-csv')
copa

[     Unnamed: 0  Wine  Alcohol  Malic.acid  ...  Color.int   Hue    OD  Proline
 0           NaN     1    14.23        1.71  ...       5.64  1.04  3.92     1065
 1           NaN     1    13.20        1.78  ...       4.38  1.05  3.40     1050
 2           NaN     1    13.16        2.36  ...       5.68  1.03  3.17     1185
 3           NaN     1    14.37        1.95  ...       7.80  0.86  3.45     1480
 4           NaN     1    13.24        2.59  ...       4.32  1.04  2.93      735
 ..          ...   ...      ...         ...  ...        ...   ...   ...      ...
 173         NaN     3    13.71        5.65  ...       7.70  0.64  1.74      740
 174         NaN     3    13.40        3.91  ...       7.30  0.70  1.56      750
 175         NaN     3    13.27        4.28  ...      10.20  0.59  1.56      835
 176         NaN     3    13.17        2.59  ...       9.30  0.60  1.62      840
 177         NaN     3    14.13        4.10  ...       9.20  0.61  1.60      560

 [178 rows x 15 columns]]

**Análisis básico en Pandas**

In [0]:
#Visualizar parte de la data
excel.head()

  Unnamed: 0       pbi      agro  ...        con       com  aleatorio
0      Ene04  3.674966  3.270309  ...  10.993667  0.397278         10
1      Feb04  4.245959  3.452198  ...   2.716271  2.699564          7
2      Mar04  5.774257  2.545452  ...   9.645661  4.360081         12
3      Abr04  4.247995 -3.179112  ...   8.820288  3.814925        -11
4      May04  3.950757 -1.748244  ...   4.440325  5.025204         -3

[5 rows x 10 columns]

In [0]:
#Métricas básicas de la data
excel.describe()

              pbi        agro         pes  ...         con         com   aleatorio
count  188.000000  188.000000  188.000000  ...  188.000000  188.000000  188.000000
mean     5.231232    4.056811   16.723509  ...    7.754334    6.055569   -0.186170
std      3.096328    4.445462   66.148991  ...   10.621040    5.307236   11.938901
min     -2.962245   -8.823243  -77.114582  ...  -19.870754  -10.250991  -20.000000
25%      3.038557    1.308374  -16.522826  ...    0.532472    2.690267  -10.000000
50%      4.945612    3.678416    5.744317  ...    6.600000    4.841160    0.000000
75%      7.107870    6.487475   30.867680  ...   15.368255    8.347466   10.000000
max     14.127077   19.716432  492.341684  ...   42.382280   24.190865   20.000000

[8 rows x 9 columns]

In [0]:
#Informacion del dataframe
excel.shape

(188, 10)

In [0]:
excel.iloc[:,0]

0      Ene04
1      Feb04
2      Mar04
3      Abr04
4      May04
       ...
183    Abr19
184    May19
185    Jun19
186    Jul19
187    Ago19
Name: Unnamed: 0, Length: 188, dtype: object

In [0]:
excel.iloc[:,0:2]

    Unnamed: 0       pbi
0        Ene04  3.674966
1        Feb04  4.245959
2        Mar04  5.774257
3        Abr04  4.247995
4        May04  3.950757
..         ...       ...
183      Abr19  0.186118
184      May19  0.710580
185      Jun19  2.620719
186      Jul19  3.280000
187      Ago19  3.390000

[188 rows x 2 columns]

In [0]:
columnas=excel.columns
columnas

Index(['Unnamed: 0', 'pbi', 'agro', 'pes', 'myh', 'man', 'eya', 'con', 'com',
       'aleatorio'],
      dtype='object')

In [0]:
type(columnas)

pandas.core.indexes.base.Index

In [0]:
len(excel)

188